<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DM Widget.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>DM_Extension.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DMatUF-Release.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>DMatUF.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA3CBCAE1A1D53CE002EC704</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA3CBCB81A1D53CE002EC704</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA41E7051A313F5800903926</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA41E71B1A313FA100903926</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAC85D5519FA92BC006840A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAC85D6C19FA92BC006840A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
